body{
    color:#920e5f;
    background:hsl(323, 51%, 66%) ;
    margin:0px;
    font-family:"Dancing Script", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid #920e5f;
    padding: 20px;
    font-size: 32px;
    color: #920e5f;
}
section{
    background: #e77cbe;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img{
   opacity: 0.5;
   height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid #d40c7073;
}
.categoria h2{
    color: rgb(199, 28, 162);
}

	
